#WindowInfo {
  margin: 0 auto;
  width: 20em;
  height: 20em;
  background-color: white;
  z-index: 4;
  position: fixed;
  left: 50%;
  margin-left: -10em;
  top: 50%;
  margin-top: -10em;
  display: none;
  border: 2px solid #95e1d3;
  color: #d0d0d0;
}

#BackgroundShadow {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 3;
  display: none;
}

#CloseButtonWindow {
  width: 2em;
  height: 2em;
  cursor: pointer;
  background-color: black;
  float: right;
  margin: 0.5em;
  display: inline-block;
}

#ImgPlayers {
  margin: 0.5em;
  width: 10em;
  height: 10em;
  display: inline-block;
}
#ImgPlayers img {
  max-width: 100%;
  box-shadow: 0 0 20px rgba(149,225,211,1);
}
#InfoPlayers {
  margin: 0.5em;
  width: 19em;
  height: 6em;
}

#NamePlayers {
  display: inline-block;
  width: 5em;
  height: 4em;
  margin-bottom: 6.5em;
  position: absolute;
  top: 0.5em;
  left: 11.2em;
}

td {
  width: 10em;
}
td:last-child {
  width: 8em;
  padding-left: 1em;
}
#WordsPlayer {
  position: absolute;
  width: 8.2em;
  height: 5.5em;
  left: 11.3em;
  top: 5em;
}

#Name {
  color: black;
}
#Words {
  text-align: left;
  font-size: 0.7em;
}